<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <p class="modal-title">{{stockPrice.ticker}}</p>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Current Price: {{stockPrice.last}}</p>
      <input class="" type="number" value="{{quantity}}" matInput [formControl]="myControl" />
    </div>
    <div class="modal-footer">
        <p>Total: {{total}}</p>
        <button class="buy-button btn btn-success" mat-flat-button (click)="buyStock(stockPrice.ticker,stockPrice.last,quantity)" [disabled]="buyButtonEnableStatus">Buy</button>
    </div>
  </ng-template>

  <button class="buy-button btn btn-success" mat-flat-button (click)="showModal(content)">Buy</button>